/*.button-container {
  margin-bottom: 20px; /* Add space between buttons and movie grid 
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}*/

.movie-grid {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-grid-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background-color: rgb(42, 111, 201);
  border: 1px solid #077cc5;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  border-bottom: 1px solid #1c1cd5;
  color: white;
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 14px;
  color: white;
}

.error-message {
  color: rgb(51, 0, 255);
  font-weight: bold;
}
.movie-card {
  /* existing styles */
  text-align: center;
}

.rating {
  margin-top: 10px;
}

.star-rating {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.star {
  color: #ddd; /* Star color when not filled */
}

.star.filled {
  color: hsl(47, 98%, 52%); /* Star color when filled */
}
  